* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: 'Arima', sans-serif;
}

header {
    background-color:#2b334f;
    color: #ffffff;
    padding: 10px 30px;
    display: flex;
    flex-direction:row;
    align-items:center;
}

.logo {
    width: 100px;
    height: 100px;
}

.logo img {
    width: 100%;
    height: 100%;
}
.nomLogo p:nth-child(1) {
    font-size: 20px;
    position:absolute
}
.nomLogo p:nth-child(2) {
    font-size: 40px;
    padding-top: 10px;
    margin-bottom: 0px;
}
span{
    position:absolute;
    font-size: 13px;
    margin-left: 22px;
    margin-top: -22px;
}

.menu {
    margin-left: auto;
    font-size: 20px;
}

.menu ul {
    display: flex;
    flex-direction: row;
}

.menu ul li a {
    text-decoration: none;
    color: #bfbfbf;
    padding: 20px; 
}

