
/* Pag Niveles educativos*/

.Niveles {
    display: grid;
    gap: 15px;
    padding: 3%;

  }
  .imglevel{
    border-radius: 70%;
  }
  .img-fluid{
    width: 50%;
    margin: 0 auto;
  }
  .Niveles #TituloNivel{
    background-color:#4b667b;
    color: white;
    text-align: center;
    border-radius: 50px;
    padding: 20px;
  }
  .Niveles #nivel1{
    background-color: #f87f43;
    border-radius: 50px;
    padding: 20px;
  }
  .Niveles #nivel2{
    background-color: #3cbbd4;
    border-radius: 50px;
    padding: 20px;
  }
  .Niveles #nivel3{
    background-color: #eb9e40;
    border-radius: 50px;
    padding: 20px;    
  }  
  .Niveles b{
    width: 50vw;
    font-size: 100%; 
  }  
  
  #nivel-bg {
    background: linear-gradient(#f2abb9e2, #9514b6ca, #f19cade2);
    height: auto;
  }
  
  /* Fin Pag Niveles educativos*/



