* ,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.bodyindex {
  font-family: 'Arima', sans-serif;
  background: linear-gradient(#B2C8DF, #3e88d7, #7cc04ea9, #3e88d7);
  /* background-color: #B2C8DF; */
}

.card-img-top1{
  border-radius: 40px;
  box-shadow: 3px 2px 5px #a2a1a1;
  align-self: flex-start;
  justify-content: start;

}
.card{
  border-radius: 40px;
}

#boxvideo{
  border-radius: 40px;
  border: solid 5px #4D4C7D;
  margin: 10px;
  border-style:double;
}
.bodycontactanos {
  font-family: 'Arima', sans-serif;
  background: linear-gradient(#70787f, #728898, #8a8d90);
}
.bodyniveles {
  font-family: 'Arima', sans-serif;
  /* background-image:url(../img/imgFondoNiveles.png); */
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}
.bodycanales {
  font-family: 'Arima', sans-serif;
  background-color: #FDCFB5;
}
.bodyestudiantes {
  font-family: 'Arima', sans-serif;
  background-color: #f8f2fa;
}
.bodycolaboradores {
  font-family: 'Arima', sans-serif;
  background-color: #f6e5e5;
}
.bodyquienessomos {
  font-family: 'Arima', sans-serif;
  background: linear-gradient(#fff, #FAEEE9, #802e95a1, #FAEEE9, #fff);
  
}

 #fondosec3{
  background-image: url(../img/fondosec3quienes.png);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
 }
 #fondosec4Q{
  background-image: url(../img/fondosec4quienes.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
 }

 #boxtituMision{
  height: auto;
  background-image: url(../img/imgTitulomision.png);
  background-repeat: no-repeat;
  background-size:contain;
 }
 
 
 #boxtituVision{
  height: auto;
  background-image: url(../img/imgTituloVision.png);
  background-repeat: no-repeat;
  background-size:contain;
 }
 
 #boxtituObjetivo{
  height: auto;
  background-image: url(../img/imgTituloObjetivos.png);
  background-repeat: no-repeat;
  background-size:contain;
 }
 
 #boxtituValores{
  height: auto;
  background-image: url(../img/imgTituloValores.png);
  background-repeat: no-repeat;
  background-size:contain;
 }

 .boxh2:nth-child(1){
  text-align:center;
  text-shadow: 3px 2px 5px #262b33;
 }
 .boxp:nth-child(1){
  font-weight: bold;
 }
 
/*colores fondo navbar*/
.bg-nav {
  background-color: #4D4C7D;
}
.bg-contact {
  background-color: #4b667b;
}
.bg-estudiantes {
  background-color:#06b7d9;
}
.bg-card2 {
  background-color:#FF0000;
}
.bg-card3 {
  background-color:#4b667b;
}
.bg-niveles {
  background-color:#812E95;
}
.bg-quienessomos {
  background-color:#FF8B01;
}
.bg-quienessomos2 {
  background-color:#FAEEE9;
}
.bg-canales {
  background-color:#FF5703;
}
.bg-oscuro {
  background-color: #000;
  color: #fff;
}

.color-azul {
  color:#06b7d9 !important;
}
.color-morado {
  color:#812E95 !important;
}
.color-gris {
  color:#4b667b !important;
}
.color-naranja {
  color:#FF5703 !important;
}
.color-amarillo  {
  color:#FF8B01 !important;
}
.color-rojo {
  color: #f00 !important;
}
#fondosecpsordos{
  background-image:url(../img/fondoSecPsordos.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#fondoInterpretes{
  background-image:url(../img/FondoSeñasInterpetes.png);
  background-position: center;
  background-size:contain;
}
#fondosecdir{
  background-image: url(../img/fondosecEquipoAdmin.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#secfinalQuienes{
  background-color: #3c4453;
}



.fondodir{
  border: solid 5px #c8c9ca;
  width: 350px;
  height:100%;
  margin-left:auto;
  margin-right: auto;
  border-radius: 50px;
}
/*estilos contactanos*/
#contact {
  padding:10px 0 10px;
}

.contact-text{
  margin:45px auto;
}

.mail-message-area {
  width:100%;
  padding:0 15px;
}

.mail-message {
  width: 100%;
  background:rgba(255,255,255, 0.8) !important;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
  margin:0 auto;
  border-radius: 0;
}

.not-visible-message {
  height:0px;
  opacity: 0;
}

.visible-message {
  height:auto;
  opacity: 1;
  margin:25px auto 0;
}

/* Input Styles */

.form {
  width: 100%;
  padding: 15px;
  background:#f8f8f8;
  border:1px solid rgba(0, 0, 0, 0.075);
  margin-bottom:25px;
  color:#727272 !important;
  font-size:13px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

#button:hover {
  border:2px solid #8BC3A3;
}

#button:focus {
  color: white;
  outline: none;
  border:2px solid #8BC3A3;
}

.textarea {
  height: 200px;
  max-height: 200px;
  max-width: 100%;
}

/* Generic Button Styles */

#button {
  color: white;
  padding:8px 12px;
  background:#4b667b;
  display: block;
  width:150px;
  margin:10px 0 0px 0;
  border-radius:10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-size:0.8em;
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -moz-box-shadow: 2px 3px 4px rgba(0,0,0, 0.10);
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

#button:hover {
  background:#8BC3A3;
  color:white;
}
.cardgif{
  align-items: center;
  
}




/* Send Button Styles */

.form-btn {
  width:180px;
  display: block;
  height: auto;
  padding:15px;
  color:#fff;
  background:#8BC3A3;
  border:none;
  border-radius:3px;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin:auto;
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.form-btn:hover {
  background:#111;
  color: white;
  border:none;
}

.form-btn:active {
  opacity: 0.9;
}

center {
  margin-top:330px;
}
input {
  position: relative;
  z-index: 9999;
}
/*amimacion letras grupo enseña*/
.ml {
  position: relative;
  font-weight: 800;
  font-size: 3.7em;
}
.ml .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

/* animacion Titulos profesores*/
.ml15 {
  font-weight: 800px;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
}

/*  Footer */

.icono {
  width: 40%;
}

.ul-footer li a{
  text-decoration: none;
  display: block;
  padding: 5px;
}

.levelicon{
  box-shadow: 5px 5px 8px #1b1616;
  margin-right: 10px;
}

.barra-lateral {
  position: fixed;
  z-index: 101px;
  top: 40%;
  right: 2px;
}

.btn-default {
  border: #000 solid 1px;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
  color: #000;
}

.btn-index:hover, .btn-index:active, .btn-index:focus { background-color: #4D4C7D; }
.btn-canales:hover, .btn-canales:active, .btn-canales:focus { background-color: #FF5703; }
.btn-colab:hover, .btn-colab:active, .btn-colab:focus { background-color: #FF0000; }
.btn-contacto:hover, .btn-contacto:active, .btn-contacto:focus { background-color: #4b667b; }
.btn-estudiantes:hover, .btn-estudiantes:active, .btn-estudiantes:focus { background-color: #06b7d9; }
.btn-niveles:hover, .btn-niveles:active, .btn-niveles:focus { background-color: #812E95; }
.btn-somos:hover, .btn-somos:active, .btn-somos:focus { background-color: #FF8B01; }

/* Inicio canales -estudiantes */
#canal-virtual .col-lg-4, #canal-cursos .col-lg-4 , #canal-videos .col-lg-6 {
  padding: 10px;
}

#canal-virtual img, #canal-cursos img, #canal-videos video {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#canal-virtual img:hover, #canal-cursos img:hover {
  border: #000 1px solid;
  box-shadow: rgba(253, 207, 181, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.section-base {
  position: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#canal-virtual {
  background: linear-gradient(#bd171175,#d16111a9);
  height: auto;
}

#canal-cursos {
  background: linear-gradient(#d16111a9,#db8c0cca);
  height: auto;
}

#canal-videos {
  background: linear-gradient(#db8c0cca,#b5d85ca9);
  height: auto;
}

#estudiantes-cards__graduados {
  background: linear-gradient(#0c8ba475,#4a22b8a9);
  height: auto;
}

.cards-wrapper {
  position: relative;
}

.cards-wrapper .card {
  overflow: hidden;
}

#estudiantes-intereses {
  background: linear-gradient(#4a22b8a9, #10a7afa9);
  height: auto;
}

.intereses-img img{
  width: 100%;
}

.intereses-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
}

.intereses-p p {
  text-align: justify;
}

#estudiantes-online {
  background: linear-gradient(#10a7afa9, #11aa56a9);
  height: auto;
}

.online-img img, .semillero-img img{
  width: 100%;
  border-radius: 50%;
}

.online-slide__img img{
  width: 100%;
  border-radius: 50px;
}

#estudiantes-semillero {
  background: linear-gradient(#11aa56a9, #59bc17a9);
  height: auto;
}

.mapouter { 
  position:relative;
  text-align:center;
  width: 100%;
  margin: 10px auto;
}

.gmap_canvas { 
  overflow:hidden;
  background:none!important;
  width: 100%;

}
/* Fin canales -estudiantes */