* ,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bodyindex {
  font-family: 'Arima', sans-serif;
  background-color: #B2C8DF;
}
.bodycontactanos {
  font-family: 'Arima', sans-serif;
  background-color: #B2C8DF;
}
.bodyniveles {
  font-family: 'Arima', sans-serif;
  background-color: #F0DFF5;
}
.bodycanales {
  font-family: 'Arima', sans-serif;
  background-color: #FDCFB5;
}
.bodyestudiantes {
  font-family: 'Arima', sans-serif;
  background-color: #D9F9FF;
}
.bodycolaboradores {
  font-family: 'Arima', sans-serif;
  background-color: #f6e5e5;
}
.bodyquienessomos {
  font-family: 'Arima', sans-serif;
  background-color: #FEE4D6;
}



/*colores fondo navbar*/
.bg-nav {
  background-color: #4D4C7D;
}
.bg-contact {
  background-color: #4b667b;
}
.bg-card1 {
  background-color:#812E95;
}
.bg-card2 {
  background-color:#FF0000;
}
.bg-card3 {
  background-color:#4b667b;
}
.bg-estudiantes {
  background-color:#06b7d9;
}
.bg-quienessomos {
  background-color:#FF8B01;
}
.bg-canales {
  background-color:#FF5703;
}

.color-azul {
  color:#06b7d9 !important;
}
.color-morado {
  color:#812E95 !important;
}
.color-gris {
  color:#4b667b !important;
}
.color-naranja {
  color:#FF5703 !important;
}
.color-amarillo  {
  color:#FF8B01 !important;
}
.color-rojo {
  color: #f00 !important;
}

/*estilos contactanos*/
#contact {
  padding:10px 0 10px;
}

.contact-text{
  margin:45px auto;
}

.mail-message-area {
  width:100%;
  padding:0 15px;
}

.mail-message {
  width: 100%;
  background:rgba(255,255,255, 0.8) !important;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
  margin:0 auto;
  border-radius: 0;
}

.not-visible-message {
  height:0px;
  opacity: 0;
}

.visible-message {
  height:auto;
  opacity: 1;
  margin:25px auto 0;
}

/* Input Styles */

.form {
  width: 100%;
  padding: 15px;
  background:#f8f8f8;
  border:1px solid rgba(0, 0, 0, 0.075);
  margin-bottom:25px;
  color:#727272 !important;
  font-size:13px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

#button:hover {
  border:2px solid #8BC3A3;
}

#button:focus {
  color: white;
  outline: none;
  border:2px solid #8BC3A3;
}

.textarea {
  height: 200px;
  max-height: 200px;
  max-width: 100%;
}

/* Generic Button Styles */

#button {
  color: white;
  padding:8px 12px;
  background:#4b667b;
  display: block;
  width:150px;
  margin:10px 0 0px 0;
  border-radius:10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-size:0.8em;
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -moz-box-shadow: 2px 3px 4px rgba(0,0,0, 0.10);
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

#button:hover {
  background:#8BC3A3;
  color:white;
}
.imgprofesordo{
  height: 600px;
  border-radius: 10px;
  box-shadow: 3px 2px 5px #a2a1a1;
}
.imgprofe{
  height: 450px;
  border-radius: 10px;
  box-shadow: 3px 2px 5px #a2a1a1;
}
.imginterprete{
  height: 300px;
  border-radius: 10px;
  box-shadow: 3px 2px 5px #a2a1a1;
}
.imginterpretesemi{
  height: 400px;
  border-radius: 10px;
  box-shadow: 3px 2px 5px #a2a1a1;
}
.cardgif{
  align-items: center;
  
}
/* Send Button Styles */

.form-btn {
  width:180px;
  display: block;
  height: auto;
  padding:15px;
  color:#fff;
  background:#8BC3A3;
  border:none;
  border-radius:3px;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin:auto;
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.form-btn:hover {
  background:#111;
  color: white;
  border:none;
}

.form-btn:active {
  opacity: 0.9;
}

center {
  margin-top:330px;
}
input {
  position: relative;
  z-index: 9999;
}
/*amimacion letras grupo enseña*/
.ml {
  position: relative;
  font-weight: 800;
  font-size: 3.7em;
}
.ml .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}
/* animacion Titulos profesores*/
.ml15 {
  font-weight: 800;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
}

/* Style Footer */

#icono {
  width: 5%;
}

/* Niveles educativos*/
.Niveles {
  display: grid;
  gap: 6px;
  padding: 6px;
}
.Niveles #TituloNivel{
  background-color: #ca65e4;
  border-style: solid;
  border-radius: 80px;
}
.Niveles #nivel1{
  background-color: #FF8B01;
  border-style: solid;
  border-radius: 80px;
  grid-template-columns: 30% 70%;
}
.Niveles #nivel2{
  background-color: #06b7d9;
  border-style: solid;
  border-radius: 80px;
}
.Niveles #nivel3{
  background-color: #8584df;
  border-style: solid;
  border-radius: 80px;
}
.Niveles b{
  font-size: 25px;  
}
.Niveles h2{
  text-align: center;
  font: bolder; 
}
.Niveles p {
  text-align: center;
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Niveles img{
  border-radius: 50px;
}
/* Fin Niveles educativos*/