* ,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bodyindex {
  font-family: 'Arima', sans-serif;
  background-color: #B2C8DF;
}
.card{
  border-radius: 40px;
}
#boxvideo{
  border-radius: 40px;
}
.bodycontactanos {
  font-family: 'Arima', sans-serif;
  background-color: #B2C8DF;
}
.bodyniveles {
  font-family: 'Arima', sans-serif;
  background-image:url(../img/imgFondoNiveles.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}
.bodycanales {
  font-family: 'Arima', sans-serif;
  background-color: #FDCFB5;
}
.bodyestudiantes {
  font-family: 'Arima', sans-serif;
  background-color: #f8f2fa;
}
.bodycolaboradores {
  font-family: 'Arima', sans-serif;
  background-color: #f6e5e5;
}
.bodyquienessomos {
  font-family: 'Arima', sans-serif;
  background-color: #FAEEE9;
}

/* Pag Colaoradores */

 .imgsCarousel2{
  height: 60vh;
  margin-top: 10px;
  margin-bottom:60px;
  border-radius: 50px;
 }
 .imgprofe{
  height: auto;
  border-radius: 30px;
  width: 400px;
  margin: 20px;
}
.imginterprete{
  height: 200px;
  border-radius: 10px;
  box-shadow: 3px 2px 5px #a2a1a1;
}
.imginterpretesemi{
  height: 400px;
  border-radius: 10px;
  box-shadow: 3px 2px 5px #a2a1a1;
}
.imgprofesordo{
  height: 450px;
}
 /* Fin Pag Colabradores */

 #fondosec3{
  background-image: url(../img/fondosec3quienes.png);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
 }
 #fondosec4Q{
  background-image: url(../img/fondosec4quienes.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
 }

 #boxtituMision{
  height: auto;
  background-image: url(../img/imgTitulomision.png);
  background-repeat: no-repeat;
  background-size:contain;
 }
 
 
 #boxtituVision{
  height: auto;
  background-image: url(../img/imgTituloVision.png);
  background-repeat: no-repeat;
  background-size:contain;
 }
 
 #boxtituObjetivo{
  height: auto;
  background-image: url(../img/imgTituloObjetivos.png);
  background-repeat: no-repeat;
  background-size:contain;
 }
 
 #boxtituValores{
  height: auto;
  background-image: url(../img/imgTituloValores.png);
  background-repeat: no-repeat;
  background-size:contain;
 }

 .boxh2:nth-child(1){
  text-align:center;
  text-shadow: 3px 2px 5px #262b33;
 }
 .boxp:nth-child(1){
  font-weight: bold;
 }
 
/*colores fondo navbar*/
.bg-nav {
  background-color: #4D4C7D;
}
.bg-contact {
  background-color: #4b667b;
}
.bg-estudiantes {
  background-color:#06b7d9;
}
.bg-card2 {
  background-color:#FF0000;
}
.bg-card3 {
  background-color:#4b667b;
}
.bg-niveles {
  background-color:#812E95;
}
.bg-quienessomos {
  background-color:#FF8B01;
}
.bg-quienessomos2 {
  background-color:#FAEEE9;
}
.bg-canales {
  background-color:#FF5703;
}

.color-azul {
  color:#06b7d9 !important;
}
.color-morado {
  color:#812E95 !important;
}
.color-gris {
  color:#4b667b !important;
}
.color-naranja {
  color:#FF5703 !important;
}
.color-amarillo  {
  color:#FF8B01 !important;
}
.color-rojo {
  color: #f00 !important;
}
#fondosecpsordos{
  background-image:url(../img/fondoSecPsordos.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#fondoInterpretes{
  background-image:url(../img/FondoSeñasInterpetes.png);
  background-position: center;
  background-size:contain;
}
#fondosecdir{
  background-image: url(../img/fondosecEquipoAdmin.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#secfinalQuienes{
  background-color: #3c4453;
}
#boxdir1{
  height: 600px;
}
#boxdir2{
  height: 600px;
}

.imgdir{
  width: 300px;
  padding-top: 10px; 
}
.fondodir{
  border: solid 5px #c8c9ca;
  width: 350px;
  height:100%;
  margin-left:auto;
  margin-right: auto;
  border-radius: 50px;
}
/*estilos contactanos*/
#contact {
  padding:10px 0 10px;
}

.contact-text{
  margin:45px auto;
}

.mail-message-area {
  width:100%;
  padding:0 15px;
}

.mail-message {
  width: 100%;
  background:rgba(255,255,255, 0.8) !important;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
  margin:0 auto;
  border-radius: 0;
}

.not-visible-message {
  height:0px;
  opacity: 0;
}

.visible-message {
  height:auto;
  opacity: 1;
  margin:25px auto 0;
}

/* Input Styles */

.form {
  width: 100%;
  padding: 15px;
  background:#f8f8f8;
  border:1px solid rgba(0, 0, 0, 0.075);
  margin-bottom:25px;
  color:#727272 !important;
  font-size:13px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

#button:hover {
  border:2px solid #8BC3A3;
}

#button:focus {
  color: white;
  outline: none;
  border:2px solid #8BC3A3;
}

.textarea {
  height: 200px;
  max-height: 200px;
  max-width: 100%;
}

/* Generic Button Styles */

#button {
  color: white;
  padding:8px 12px;
  background:#4b667b;
  display: block;
  width:150px;
  margin:10px 0 0px 0;
  border-radius:10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-size:0.8em;
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -moz-box-shadow: 2px 3px 4px rgba(0,0,0, 0.10);
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

#button:hover {
  background:#8BC3A3;
  color:white;
}

.imgprofesordo{
  height: 600px; 
}
.imgprofe{
  border-radius: 30px;
  width: 400px;
  height: auto;
  margin: 20px; 
}
.imginterprete{
  height: 200px;
  border-radius: 10px;
  box-shadow: 3px 2px 5px #a2a1a1;
}
.imginterpretesemi{
  height: 300px;
  border-radius: 10px;
  box-shadow: 3px 2px 5px #a2a1a1;
}

.cardgif{
  align-items: center;
  
}

/* seccion coordinadores*/
#fondocordi{
  border-radius: 200px;
  height: 700px;
}
.imgcordi{
  border-radius:180px;
  padding-bottom: 10px;
}

/* Send Button Styles */

.form-btn {
  width:180px;
  display: block;
  height: auto;
  padding:15px;
  color:#fff;
  background:#8BC3A3;
  border:none;
  border-radius:3px;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin:auto;
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.form-btn:hover {
  background:#111;
  color: white;
  border:none;
}

.form-btn:active {
  opacity: 0.9;
}

center {
  margin-top:330px;
}
input {
  position: relative;
  z-index: 9999;
}
/*amimacion letras grupo enseña*/
.ml {
  position: relative;
  font-weight: 800;
  font-size: 3.7em;
}
.ml .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

/* animacion Titulos profesores*/
.ml15 {
  font-weight: 800px;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
}

/*  Footer */

#icono {
  width: 4%;
}


.levelicon{
  box-shadow: 5px 5px 8px #1b1616;
  margin-right: 10px;
}

.barra-lateral {
  position: fixed;
  top: 40%;
  right: 2px;
}
